version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: abcotronics_erp_local_db
    environment:
      POSTGRES_DB: abcotronics_erp_local
      POSTGRES_USER: gemau
      POSTGRES_PASSWORD: ""
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:

